# ==========================================
# macOS System Files
# ==========================================
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two carriage returns
Icon?

# Thumbnails
._*

# Files that might be created in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# ==========================================
# Windows System Files
# ==========================================
# Windows image thumbnails
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk


# ==========================================
# LTspice Files
# ==========================================
*.log
*.raw
*.op.raw
*.net